<p id="notice"><%= notice %></p>

<h1>Won Counts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Woncount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @won_counts.each do |won_count| %>
      <tr>
        <td><%= won_count.name %></td>
        <td><%= won_count.wonCount %></td>
        <td><%= link_to 'Show', won_count %></td>
        <td><%= link_to 'Edit', edit_won_count_path(won_count) %></td>
        <td><%= link_to 'Destroy', won_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Won Count', new_won_count_path %>
